* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #393E46;
    position: relative;
}

h1{
    color: white;
}

.navbar {
    margin: 20px 0;
    position: relative;
    height: 60px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.navbar h1{
    color: #4ECCA3;
    display: inline-block;
    margin: 0px 77px;
    font-size: 48px;
}
.navbar a{
    text-decoration: none;
    font-size: 24px;
    color: white;
    margin-right: 70px;
    display: inline-block;
    transform: 0.8s;
}

.navbar a:hover{
    color: #4ECCA3;
    border-bottom: 2px solid #4ECCA3;
    border-radius: 3px;
    font-size: 28px;
}

.konten {
    width: 70%;
    margin-left: 77px;
    margin-top: 8%;
}
.konten h1 {
    font-size: 76px;
}
.konten p{
    color: white;
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
}

#chat button{
width: 157px;
height: 51px;
border-radius: 8px;
font-size: 22px;
border-style: none;
margin-right: 10px;
}
#chat :hover {
    background-color: #4ECCA3;
    color: white;
}

#more  button{
    width: 157px;
    height: 51px;
    border-radius: 8px;
    font-size: 22px;
    border: 4px solid #4ECCA3;
    background-color: rgba(0, 0, 0, 0);
    color: #4ECCA3;
    transform: 0.8s;
}
#more :hover{
    border: 0;
    background-color: white;
    color: black;
}

img{
    position: absolute;
    right: 180px;
    bottom: -90px;
    height: 423px;
    width: 301px;
}